<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Felipe Antelo Machado de Oliveira</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,300&family=Rubik+Iso&family=Russo+One&display=swap" rel="stylesheet">

<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>Nathan Feuerstein (NF)</h1>
  <i class="white-russo">NF - A Origem</i>
  <p class="white-text">Nascido em Gladwin, Michigan, em 30 de março de 1991, o jovem Nathan John Feuerstein sempre teve força laços com a música. Com os problemas que havia em sua casa, Nathan dizia que "o rap era uma fuga para ele". Quando não estava jogando basket com seus amigos, o menino passava seu tempo usando uma maquina de karaoke, na qual ele usava um microfone para gravar instrumentos e outro para cantar raps.Em novembro de 2010, Feuerstein lançou seu primeiro album chamado "Moments" e em agosto de 2011, seu primeiro Single de nome "Alone". Entretanto, foi somente em 2014 com o lançamentos de seu Extended Play auto-intitulado <b>NF</b> que o cantor veio a adotar o nome artistico pelo qual é conhecido hoje.</p>
  <i class="white-russo">NF - A busca da fama</i>
  <p class="white-text"> Em outubro de 2017, seu 3° álbum, Perception, foi lançado. O albúm estreou de forma estrondosa, lhe concedendo o No.1 na Bilboard 200, tornando-o seu primeiro álbum a antingir tamanho sucesso e fazendo dele o segundo artista em 2017 a atingir o top 1 sem preveamente ter aparecido no Hot 100. Logo na semana seguinte,"Let you down" se tornou seu primeiro single a chegar nos Hot 100, estreiando em 87° lugar, após 17 semanas, atingiu seu pico de vendas em 12° lugar. Após esse sucesso, o cantor anunciou que iria realizar um tour pelo mundo em meados de 2018, no qual veio a posteriormente ser considerado um <i>platinum</i>, atingindo vendas de mais de 1 milhão de unidades. Atualmente, o cantor anunciou seu novo álbum <i>"HOPE"</i> que está tem data de lançamento para 7 de Abril de 2023.
  </p>
  <i class="white-russo">NF - Inspirações</i>
  <p class="white-text"> Feuerstein dá crédito a Eminem como sua influência primária para entrar no mundo do Hip-Hop, alegando inclusive que em certo ponto de sua vida, as músicas de Eminem eram tudo que ele escutava. O estilo musical de NF já foi comparado com os de Logic e Machine Gun Kelly. NF sempre se destacou por "se comunicar com seus fãs através da música", sendo quase uma marca na maioria de suas músicas cantar como se fosse uma conversa entre duas pessoas. Apesar de ter aparecido no album "Royal Flush" do artista cristão de Hip-Hop Flame em uma de suas faixas, Feurstein nega o rótulo como rapper cristão, alegando "Sou cristão, mas não faço música cristã.Você não vai chegar a todos com apenas um ponto de vista. Escrevo sobre coisas com as quais estou realmente lidando. Você não precisa ser cristão para se relacionar com eles".
  </p>
  <script src="script.js"></script>
  <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
</body>
    <u class="white-text"><i><b>Albuns produzidos</b><i></i></u>
    <ul>
    <li class="white-text"><i><b>Moments(2010)</b></i></li>
    <li class="white-text"><i><b>Mansion(2015)</b></i></li>
    <li class="white-text"><i><b>Perception(2017)</b></i></li>
    <li class="white-text"><i><b>The Search(2019)</b></i></li>
    <li class="white-text"><i><b>Clouds(2021)</b></i></li>
    <li class="white-text"><i><b>HOPE(2023)</b></i>
  </ul>
  <div style="position: relative;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/NF_photo_2016.jpg/200px-NF_photo_2016.jpg" alt="NF Album Cover"class="picRight"
</div>
  <u class="white-text"><i><b>Tours Realizados ao longo dos anos</u></b><i>
  <ol>
    <li class="white-text"><i><b>Therapy Session Tour (2017)</b></i></li>
    <li class="white-text"><i><b>Perception Tour (2018)</b></i></li>
    <li class="white-text"><i><b>Perception World Tour (2018)</b></i></li>
    <li class="white-text"><i><b>The Search Tour (2019)</b></i></li>
    <li class="white-text"><i><b>Clouds Tour (2021)</b></i></li>
  </ol>
    <p class="white-text">Utilizando aplicativos de música, como o spotify por exemplo, é possível observar o número de downloads de cada música do rapper:</p>
  <table>
  <tr>
    <th>Nome</th>
    <th>Downloads</th>
    <th>Nome</th>
    <th>Downloads</th>
  </tr>
  <tr>
    <th>Let you down</th>
    <th>1.271.559.325</th>
    <th>The Search</th>
    <th>434.084.260</th>
  </tr>
  <tr>
    <th>CLOUDS</th>
    <th>122.572.251</th>
    <th>Lie</th>
    <th>479.761.204</th>
  </tr>
  <tr>
    <th>HOPE</th>
    <th>35.358.783</th>
    <th>MOTTO</th>
    <th>10.387.527</th>
  </tr>
     <tr>
    <th>When I grow up</th>
    <th>271.831.282</th>
    <th>If you want love</th>
    <th>257.121.984</th>
  </tr>
</table>
 <p class="white-text">Sendo uma das músicas mais populares de NF, o vídeo oficial de "The Search" no youtube pode ser acessado pelo link abaixo:</p>
    
<a href ="https://www.youtube.com/watch?v=fnlJw9H0xAM"target="_blank">NF-The Search>
</html>